@font-face {
  font-family: "ObtischAventuraGX.ttf";
  src: url('./webfont/ObtischAventuraGX.ttf') format('truetype');
  font-weight: 0 1000;
}

#sina {
  font-family: "ObtischAventuraGX.ttf";
  font-variation-settings: "wght" 500;
}
